@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraGO";
  src: url("/assets/fonts/FiraGO-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("/assets/fonts/FiraGO-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraGO";
  src: url("/assets/fonts/FiraGO-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "FiraGo", sans-serif;
  overflow-x: hidden;
}
